:root {
  caret-color: #44a2e5 !important;
}

.markdown-style {
  font-size: 15;
  line-height: 1.8;
}

.markdown-style h1 {
  font-size: 1.9em;
}

.markdown-style h2 {
  font-size: 1.65em;
}

.markdown-style h3 {
  font-size: 1.25em;
}

.markdown-style h4,
.markdown-style h5,
.markdown-style h6 {
  font-size: 1em;
}

.markdown-style h1,
.markdown-style h2,
.markdown-style h3,
.markdown-style h4,
.markdown-style h5,
.markdown-style h6 {
  color: #ccdce5;
  font-weight: 500;
}

.markdown-style h1 {
  line-height: 2.5 !important;
}

.markdown-style blockquote {
  border-color: #44a2e5;
  border-width: 0 0 0 3px;
  margin-left: 5px;
  padding-left: 11px;
}

.markdown-style ul {
  list-style-position: outside;
  margin-left: 20px;
}

.markdown-style ul {
  list-style: none;
}

.markdown-style ul li::before {
  content: "\2022";
  color: #44a2e5;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.markdown-style h1::before,
.markdown-style h2::before,
.markdown-style h3::before,
.markdown-style h4::before,
.markdown-style h5::before,
.markdown-style h6::before {
  color: #5a5b5b;
  font-size: 0.8rem;
  display: inline-block;
  margin-right: 0.1rem;
}

.markdown-style h1::before {
  content: "H1";
}

.markdown-style h2::before {
  content: "H2";
}

.markdown-style h3::before {
  content: "H3";
}

.markdown-style h4::before {
  content: "H4";
}

.markdown-style h5::before {
  content: "H5";
}

.markdown-style h6::before {
  content: "H6";
}

.markdown-style {
  zoom: 1.2;
}

.markdown-style code {
  font-size: 1.8em;
}
